{% extends 'layout.html' %} {% block content %}

<div class="container">
    <div class="text-center">
        {% include 'messages.html' %}
            <div class="text-center p-2 h3 mb-3">Add category</div>
            <form action="" method="POST">
                <input type="text" name="category" class="form-control" value="{{ category.name }}"/>
                <input type="submit" value="Update category" class="btn btn-info mt-3"/>
            </form>
            <a href="{{url_for('categories')}}" class="btn btn-warning mt-3">Cancel</a>
    </div>
</div>

{% endblock %}
