<style>
    .reg {
        font-size: 15px;
        width: 400px;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 10px;
        backdrop-filter: blur(8px);
        margin-top: 100px;
    }
</style>

{% extends "layout.html" %} 

{% block content %}
    <div class="container white z-depth-2">
        {% from "_formhelpers.html" import render_field %} 
        {% include 'messages.html' %}
        <form method="POST" action="" enctype="multipart/form-data">
            <section class="reg">
                {{ form.csrf_token }}
                {{ render_field(form.username, class="form-control", placeholder="Username") }} 
                {{ render_field(form.firstname, class="form-control", placeholder="First Name") }} 
                {{ render_field(form.lastname, class="form-control", placeholder="LastName") }}
                {{ render_field(form.email, class="form-control", placeholder="Email") }} 
                {{ render_field(form.password, class="form-control", placeholder="Password") }}
                {{ render_field(form.confirm_password, class="form-control", placeholder="Confirm Password") }}
                <p><input type="submit" value="Register" class="btn btn-info"></p>
            </section>
        </form>
    </div>
{% endblock content %}
