<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V16</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../../static/img/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../static/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../../static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../static/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../../static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../static/style/util.css">
	<link rel="stylesheet" type="text/css" href="../../static/style/main.css">

<!--===============================================================================================-->

<style>
    .wrap-input100{
        padding: 25px 0;
    }
</style>

</head>
<body>
	<div class="limiter" style="overflow-y: hidden;">
		<div class="container-login100" style="background-image: url('../../static/img/bg-01.jpg');">
			<div class="wrap-login100 p-t-5 p-b-5">
				<span class="login100-form-title p-b-10">
					Register
				</span>
				<form class="login100-form validate-form p-b-10 p-t-5" method="POST">

					<div class="wrap-input100 validate-input" data-validate = "Enter username">
						{% if form.username.errors %}
						{{ form.username(class="is-invalid input100") }}
						<div class="invalid-feedback">
						{% for error in form.username.errors %}
							<span>{{ error }}</span>
						{% endfor %}
						</div>
						{% else %}
						{{ form.username(class="input100", placeholder="User Name") }}
						{% endif %}
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

                    <div class="wrap-input100 validate-input" data-validate = "Enter firstname">
						{% if form.firstname.errors %}
						{{ form.firstname(class="is-invalid input100") }}
						<div class="invalid-feedback">
						{% for error in form.firstname.errors %}
							<span>{{ error }}</span>
						{% endfor %}
						</div>
						{% else %}
						{{ form.firstname(class="input100", placeholder="First Name") }}
						{% endif %}
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

                    <div class="wrap-input100 validate-input" data-validate = "Enter lastname">
						{% if form.lastname.errors %}
						{{ form.lastname(class="is-invalid input100") }}
						<div class="invalid-feedback">
						{% for error in form.lastname.errors %}
							<span>{{ error }}</span>
						{% endfor %}
						</div>
						{% else %}
						{{ form.lastname(class="input100", placeholder="Last Name") }}
						{% endif %}
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

                    <div class="wrap-input100 validate-input" data-validate = "Enter email">
						{% if form.email.errors %}
						{{ form.email(class="is-invalid input100") }}
						<div class="invalid-feedback">
						{% for error in form.email.errors %}
							<span>{{ error }}</span>
						{% endfor %}
						</div>
						{% else %}
						{{ form.email(class="input100", placeholder="Email") }}
						{% endif %}
						<span class="focus-input100" data-placeholder="&#x2709;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						{% if form.password.errors %}
						{{ form.password(class="is-invalid input100") }}
						<div class="invalid-feedback">
						{% for error in form.password.errors %}
							<span>{{ error }}</span>
						{% endfor %}
						</div>
						{% else %}
						{{ form.password(class="input100", placeholder="Password") }}
						{% endif %}
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>
                    
                    <div class="wrap-input100 validate-input" data-validate="confirm the password">
						{% if form.confirm_password.errors %}
						{{ form.confirm_password(class="is-invalid input100") }}
						<div class="invalid-feedback">
						{% for error in form.confirm_password.errors %}
							<span>{{ error }}</span>
						{% endfor %}
						</div>
						{% else %}
						{{ form.confirm_password(class="input100", placeholder="Confirm Password") }}
						{% endif %}
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>

					<div class="container-login100-form-btn m-t-32">
						<button class="login100-form-btn">
							Register
						</button>
					</div>
					<p class="sign-up ml-2 mt-3 text-dark">Alredy have an Account?<a href="{{ url_for('login') }}"> Login</a></p>
				</form>
			</div>
		</div>
	</div>
	

	<!-- <div id="dropDownSelect1"></div> -->
	
<!--===============================================================================================-->
	<script src="../../static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../../static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../../static/vendor/bootstrap/js/popper.js"></script>
	<script src="../../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../../static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../../static/vendor/daterangepicker/moment.min.js"></script>
	<script src="../../static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../../static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../../static/js/main-auth.js"></script>

</body>
</html>