{% extends "layout.html" %}
{% block content %}
    <div class="container">
        {% from "_formhelpers.html" import render_field %}
<form method="post">
  <dl>
    {{ render_field(form.username, class="form-control") }}
    {{ render_field(form.email, class="form-control") }}
    {{ render_field(form.password, class="form-control") }}

    {{ render_field(form.confirm, class="form-control") }}
  </dl>
  <p><input type="submit" value="Register" class="btn btn-info mt-2">
</form>
    </div>
  <!-- Section: Design Block -->
{% endblock content %}